@model ProjectOffice.Models.Forms.ServiceCatalogue.Application.Add_Application_Model
@{
    <br />
    <form role="form" data-toggle="validator" method="post" action="/Application/Add_Application_Submit" id="Add_Application_Form_@ViewBag.Environment_ID">
        <fieldset>
            <!-- Dropdown input-->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">@Html.LabelFor(m => m.Parent_ID, "Server:")</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        @Html.DropDownListFor(m => m.Parent_ID, (SelectList)Model.Add_Server(@ViewBag.Environment_ID), "Select Server", new { ID = "Server_ID_" + @ViewBag.Environment_ID, @class = "form-control" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.Item_Type_ID, new { Value = 1 })
            @Html.HiddenFor(m => m.Environment_ID, new { Value = @ViewBag.Environment_ID })

            <!-- Dropdown input-->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">@Html.LabelFor(m => m.Item_ID, "Application:", true)</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        @Html.DropDownListFor(m => m.Item_ID, Model.GetApplications(), "Select Application", new { ID = "Application_ID_" + @ViewBag.Environment_ID, @class = "form-control", required = "required" })
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*@Html.ValidationMessageFor(m => m.Item_ID)</label>
            </div>

            <!-- Success message -->
            <div class="alert alert-success collapse" role="alert" id="Add_Application_Success_Message">
                Added Application <i class="glyphicon glyphicon-thumbs-up"></i>
            </div>

            <!-- Error message -->
            <div class="alert alert-danger collapse" role="alert" id="Add_Application_Error_Message">
                Unable to add application <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning" id="Application_Submit_@ViewBag.Environment_ID" onclick="Add_Item(this.form, this, 'Add_Application_Response')">Add Application<span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
}