@model System.Data.DataTable
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Applications List";
}
@Styles.Render("~/Content/css/components/bootstrapTables")
@Styles.Render("~/Content/css/formCSS")

@Scripts.Render("~/bundles/formJS")
@Scripts.Render("~/bundles/applicationList")
<br />
<div class="container">
    <div class="well form-horizontal">
        <div class="action_btn text-left sm-text-center">
            <h2>
                Environments
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#ApplicationListAdd" aria-expanded="false" aria-controls="collapse" style="color: black">Administration</button>
            </h2>
        </div>
        <br />
        <fieldset>
            <div id="ApplicationListAdd" class="collapse">
                <div class="panel-group" id="NewEntry" role="tablist" aria-multiselectable="false">

                    <div class="panel panel-default well form-horizontal">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#NewEntry" href="#AddSupportCompanyContainer" aria-expanded="false" aria-controls="SupportCompanyContainer">
                            <div role="tab" id="AddSupportCompanyButton">
                                <h4 class="panel-title">
                                    Add Support Company
                                </h4>
                            </div>
                        </a>
                        <div id="AddSupportCompanyContainer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AddSupportCompanyButton">
                            <div class="panel-body">
                                @{ Html.RenderAction("Index", "SupportCompany");}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default well form-horizontal">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#NewEntry" href="#AddServerContainer" aria-expanded="false" aria-controls="AddServerContainer">
                            <div role="tab" id="AddServerButton">
                                <h4 class="panel-title">
                                    Add Server
                                </h4>
                            </div>
                        </a>
                        <div id="AddServerContainer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AddServerButton">
                            <div class="panel-body">
                                @{ Html.RenderAction("Index", "Server");}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default well form-horizontal">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#NewEntry" href="#AddApplicationContainer" aria-expanded="false" aria-controls="AddApplicationContainer">
                            <div role="tab" id="AddApplicationButton">
                                <h4 class="panel-title">
                                    Add Application
                                </h4>
                            </div>
                        </a>
                        <div id="AddApplicationContainer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AddApplicationButton">
                            <div class="panel-body">
                                @{ Html.RenderAction("Index", "Application");}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default well form-horizontal">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#NewEntry" href="#AddEnvironmentContainer" aria-expanded="false" aria-controls="AddEnvironmentContainer">
                            <div role="tab" id="CreateEnvironmentButton">
                                <h4 class="panel-title">
                                    Create Environment
                                </h4>
                            </div>
                        </a>
                        <div id="AddEnvironmentContainer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AddEnvironmentButton">
                            <div class="panel-body">
                                @{ Html.RenderAction("Index", "Environment");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="environmentsList">
                <input class="search" placeholder="Search" />
                <button class="sort" data-sort="searchItem">Sort</button>
                <ul class="list list-group">
                    <li class="list-group-item-heading"><div class="">Application Name</div></li>
                    <li class="list-group-item-heading"><div class="form-horizontal">Environment Type</div></li>
                    <li class="list-group-item-heading"><div>Server Type</div></li>
                    <li class="list-group-item-heading"><div>Server Name</div></li>
                    <li class="list-group-item-heading"><div>Environment Notes</div></li>
                    <li class="list-group-item-heading"><div>Support Company</div></li>
                    @foreach (System.Data.DataRow row in Model.Rows)
                    {
                        <li class="list-group-item m-top-20 searchItem" id="environmentHead_@row["Environment_ID"]" data-toggle="collapse" data-target="#environmentDetailsDiv_@row["Environment_ID"]" aria-expanded="false" aria-controls="environmentContainer_@row["Environment_ID"]">
                            <div>@row["Application_Name"]</div>
                            <div>@row["Environment_Type"]</div>
                            <div>@row["Server_Type"]</div>
                            <div>@row["Server_Name"]</div>
                            <div>@row["Environment_Comment"]</div>
                            <div>@row["Support_Company_Name"]</div>
                            <div id="environmentDetailsDiv_@row["Environment_ID"]" class="collapse">
                                <div class="jumbotron">
                                    <form role="form" class="environmentForm" data-toggle="validator" method="post" action="/ApplicationsList/Update" name="environmentForm" id="environmentForm_@row["Environment_ID"]">
                                        <p>
                                            <h5>Details for @row["Application_Name"] @row["Environment_Type"] environment<br /></h5>

                                            <input name="ID" id="ID_@row["Environment_ID"]" type="hidden" value='@row["Environment_ID"]' />
                                            <input name="Application_ID" id="Application_ID_@row["Environment_ID"]" type="hidden" value='@row["Application_ID"]' />
                                            <input name="Server_ID" id="Server_ID_@row["Environment_ID"]" type="hidden" value='@row["Server_ID"]' />
                                            <input name="Environment_Type_ID" id="Environment_Type_ID_@row["Environment_ID"]" type="hidden" value='@row["Environment_Type_ID"]' />
                                            <input name="Support_Company_ID" id="Support_Company_ID_@row["Environment_ID"]" type="hidden" value='@row["Support_Company_ID"]' />
                                            <input name="Comment" id="Comment_@row["Environment_ID"]" type="hidden" value='@row["Environment_Comment"]' />
                                            <input name="Deleted" id="Deleted_@row["Environment_ID"]" type="hidden" value='@row["Environment_Deleted"]' />

                                            <b>Environment Created:</b> @row["Environment_Created"]<br />
                                            <b>Application Comment:</b> @row["Application_Comment"]<br />
                                            <b>Application Package Type:</b> @row["Application_Type"]<br /><br />

                                            <b>Server:</b> @row["Server_Name"]<br />
                                            <b>Server Type:</b> @row["Server_Type"]<br />
                                            <b>Server Address:</b> @row["IP_Address"]<br />
                                        </p>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-danger" name="Delete" id="Delete_@row["Environment_ID"]" onclick="updateEnvironment('Delete', @row["Environment_ID"])">Delete <span class="glyphicon glyphicon-warning-sign"></span></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Success message -->
                                <div class="alert alert-success collapse" role="alert" id="Application_List_Success_Message_@row["Environment_ID"]">
                                    message <i class="glyphicon glyphicon-thumbs-up"></i>
                                </div>

                                <!-- Error message -->
                                <div class="alert alert-danger collapse" role="alert" id="Application_List_Error_Message_@row["Environment_ID"]">
                                    message <i class="glyphicon glyphicon-thumbs-down"></i>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>




        </fieldset>
    </div>
</div><!-- /.container -->
@Scripts.Render("~/bundles/bootstrapTables")
