@model ProjectOffice.Models.Forms.ApplicationList.Environment.EnvironmentModel
@{
    <br />
    <form role="form" data-toggle="validator" method="post" action="/Environment/save" id="Add_Environment_Form">
        <fieldset>
            <!-- Form Name -->
            <!--<legend>Add Application</legend>-->

            <!-- Dropdown input-->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">@Html.LabelFor(m => m.Application_ID, "Application:")</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        @Html.DropDownListFor(m => m.Application_ID, (SelectList)ProjectOffice.Models.Forms.ApplicationList.Environment.EnvironmentModel.GetApplications(), "Select Application", new { ID = "Environment_Application_ID", @class = "form-control" })
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*@Html.ValidationMessageFor(m => m.Application_ID) </label>
            </div>
            <!-- Dropdown input-->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">@Html.LabelFor(m => m.Server_ID, "Server:")</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        @Html.DropDownListFor(m => m.Environment_Type_ID, ProjectOffice.Models.Forms.ApplicationList.Environment.EnvironmentModel.GetServers(), "Select Server", new { ID = "Environment_Server_ID", @class = "form-control" })
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*@Html.ValidationMessageFor(m => m.Server_ID) </label>
            </div>

            <!-- Dropdown input-->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">@Html.LabelFor(m => m.Environment_Type_ID, "Package Type:")</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        @Html.DropDownListFor(m => m.Environment_Type_ID, ProjectOffice.Models.Forms.ApplicationList.Environment.EnvironmentModel.GetEnvironmentTypes(), "Select Environment Type", new { ID = "Environment_Type_ID", @class = "form-control" })
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*@Html.ValidationMessageFor(m => m.Environment_Type_ID) </label>
            </div>

            <!-- Text area -->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">@Html.LabelFor(m => m.Comment, "Application Notes:")</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        @Html.TextAreaFor(m => m.Comment, new { placeholder = "Description", @class = "form-control", required = "required" })
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*@Html.ValidationMessageFor(m => m.Comment) </label>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="Application_Success_Message">Added Support Company <i class="glyphicon glyphicon-thumbs-up"></i></div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Add Application<span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
    @Scripts.Render("~/bundles/addEnvironment")
}